<form action="/qcards/add" method="post">
	Question:<br>
	<input type="text" name="question"><br>
	Answer:<br>
	<input type="text" name="answer">

	<button>Add qcard!!!</button>
</form>

<% if (isPost) { %>
	<span>POST SUCCESSSSSSSS</span>
<% } %>	